@media only screen and (max-width: 992px) {
  .container {
    max-width: 1340px !important;
    padding: 0px 20px;
    margin: auto;
  }
}
@media only screen and (max-width: 1400px) {
  .key-features-left {
    padding-left: 40px;
    padding-right: 40px;
  }
  .key-features-left ul li {
    font-size: 18px;
  }
  .img-slider-inner .img-slider-right .slick-track {
    gap: 20px;
  }
}
@media only screen and (max-width: 1200px) {
  .banner-left {
    max-width: 400px;
  }
  .banner-inner .banner-btns {
    margin-top: -30%;
  }
  .banner-card h4 {
    font-size: 16px;
  }
  .banner-card p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .banner-content .banner-img {
    right: 0px;
    z-index: 0;
    width: 95%;
    left: auto;
  }
  .key-features-left {
    padding-left: 30px;
    padding-right: 30px;
  }
  .key-features-left ul li {
    font-size: 16px;
  }
  .key-features-left ul li img {
    height: 30px;
    width: 30px;
  }
  .banner-inner .banner-btns {
    max-width: 260px;
  }
  .banner-inner .banner-btns ul li button {
    padding: 16px;
  }
  .img-slider-inner .img-slider-right .slick-track {
    gap: 15px;
  }
}
@media only screen and (max-width: 991px) {
  .container {
    max-width: 720px !important;
  }
  .key-features-section {
    flex-wrap: wrap;
  }
  .key-features-section .key-features-left {
    width: 100%;
  }
  .key-features-section .key-features-left-inner {
    max-width: 500px;
    margin: auto;
  }
  .key-features-section .key-features-right {
    width: 100%;
  }
  .key-features-section .key-features-right-content {
    max-width: 500px;
    margin: auto;
  }
  .banner-top-text {
    max-width: 385px;
    margin: auto;
  }
  .banner-left {
    margin: auto;
    margin-top: 30px;
  }
  .banner-cards {
    margin-bottom: 30px;
  }
  .rating-content {
    margin: auto;
  }
  .banner-inner {
    flex-wrap: wrap;
  }
  .banner-inner .desktop-banner-btns {
    margin: auto;
    margin-top: 20px;
    max-width: 100%;
  }
  .banner-inner .desktop-banner-btns ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner-inner .desktop-banner-btns ul li {
    padding: 0px 10px;
    width: 50%;
  }
  .banner-content .banner-img {
    position: relative;
    width: 100%;
  }
  .banner-top-text {
    max-width: 266px;
  }
  .banner-top-text h1 {
    font-size: 34px;
    text-align: center;
  }
  .banner-top-text h6 {
    font-size: 18px;
    text-align: center;
    margin-left: 0px;
  }
  .img-slider-inner .img-slider-right .slick-track .slick-slide {
    min-height: 40px !important;
    min-width: 40px !important;
    max-height: 40px !important;
    max-width: 40px !important;
  }
  .img-slider-inner .img-slider-right .slide-nav-btn {
    min-height: 40px;
    min-width: 40px;
    max-height: 40px;
    max-width: 40px;
  }
  .img-slider-inner .img-slider-right .slide-nav-btn::after {
    min-height: 26px;
    min-width: 26px;
    max-height: 26px;
    max-width: 26px;
  }
}
@media only screen and (max-width: 768px) {
  .banner-inner .banner-btns ul li h6 {
    font-size: 16px;
  }
  .img-slider-inner {
    flex-wrap: wrap;
  }
  .img-slider-inner .img-slider-left {
    width: 100%;
  }
  .img-slider-inner .img-slider-right {
    width: 100%;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .sm-p-0 {
    padding: 0px !important;
  }
  .mobile-header-section {
    display: block;
  }
  .key-features-left {
    padding: 40px 20px;
  }
  .key-features-left h3 {
    font-size: 28px;
    margin-bottom: 24px;
  }
  .key-features-left ul li {
    font-size: 18px;
  }
  .key-features-section .key-features-right {
    padding: 24px 20px 40px 20px;
  }
  .key-features-right-content h3 {
    font-size: 28px;
  }
  .key-features-right-content p {
    font-size: 15px;
  }
  .banner-inner.desktop-banner {
    display: none;
  }
  .mobile-banner {
    display: block;
    margin-top: -20px;
  }
  .banner-section {
    padding: 29px 0px;
  }
  .rating-content {
    margin-bottom: 14px;
  }
  .rating-content .rating-top {
    justify-content: center;
    gap: 20px;
    margin: auto;
    margin-bottom: 20px;
  }
  .banner-btns {
    margin: auto;
  }
  .key-features-section {
    margin-top: 29px;
  }
  .banner-cards-slider-section {
    margin-top: 39px;
    overflow-x: hidden;
  }
  .banner-card {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 7px 10px 6px rgba(0, 0, 0, 0.08);
    height: 186px;
  }
  .banner-card h4 {
    font-size: 18px;
  }
  .banner-cards-slider {
    margin-right: -120px;
  }
  .banner-cards-slider .slick-track {
    height: 230px;
  }
}